<div class="account d-flex flex-wrap w-100 p-5">
    <div class="account-title col-lg-12 col-md-12 col-sm-12">
        <h5 class="account-heading">Account Management</h5>
    </div>

    <div class="account-table p-4 col-lg-12 col-md-12 col-sm-12" style="background-color: #fff;">
        <h5 style="font-size: 1.1rem;">Authorization table</h5>

        <table class="table table-hover table-bordered" style="border-collapse:collapse">
            <thead class="text-white bg-info">
                <tr class="">
                    <th class="text-white">#</th>
                    <th class="text-white">Name</th>
                    <th class="text-center text-white">Manager</th>
                    <th class="text-center text-white">Staff</th>
                    <th class="text-center text-white">Lock</th>
                    <th class="text-center text-white">Reset password</th>
                </tr>
            </thead>
            <tbody>
                {% for acc, user in zip_data %}
                <tr role="row" style="">
                    <th scope="row" class="m-auto p-2">{{ loop.index }}</th>
                    <td class="p-2">
                        <img style="width: 40px;" class="mr-1" src="{{url_for('static', filename='img/user_profile.png')}}" alt="" srcset="">
                        {{ user._name }}
                    </td>
                    <td width="150px" class="text-center p-2">
                        <a href="/account/changeRole/Manager/{{acc._acc_id}}" class="{% if acc._role_id == 'ROL0000001' %} bg-primary text-light {% endif %} btn text-center account-col mb-0">
                            <i style="font-size: 0.8rem;" class="fa-solid fa-user-tie"></i>
                        </a>
                    </td>
                    <td width="150px" class="text-center p-2">
                        <a href="/account/changeRole/Staff/{{acc._acc_id}}" style="width: 49px; height: 41px" class="{% if acc._role_id == 'ROL0000002' %} bg-success text-light {% endif %} btn account-col mb-0">
                            <i style="font-size: 0.8rem;" class="fa-solid fa-users"></i>
                        </a>
                    </td>
                    <td width="150px" class="text-center p-2">
                        <a href="/account/changeRole/Lock/{{acc._acc_id}}" style="width: 44px; height: 40px" class="{% if acc._role_id == 'ROL0000003' %} bg-danger text-light {% endif %} btn account-col mb-0">
                            <i style="font-size: 0.8rem;" class="fa-solid fa-lock"></i>
                        </a>
                    </td>
                    <td width="150px" class="text-center p-2">
                        <a href="/account/resetPassword/{{acc._acc_id}}" class="btn account-col mb-0">
                            <i style="font-size: 0.8rem;" class="fa-solid fa-key"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- {% if pages > 1 %}
            <a href="/account/{{pages-1}}">Previous</a>
        {% endif %}
            <span>Page {{ pages }} of {{ total_pages }} </span>
        {% if pages < total_pages %}
            <a href="/account/{{pages+1}}">Next</a>
        {% endif %} -->

        <nav style="float: right;" aria-label="Page navigation">
            <ul class="pagination">
            {% if pages > 1 %}
                <li class="page-item"><a class="page-link" href="/account/{{pages-1}}">Previous</a></li>
            {% endif %}

            {% for page_num in range(1, total_pages + 1) %}
                <li class="page-item {% if page_num == pages %} active {% endif %}"><a class="page-link" href="/account/{{page_num}}">{{ page_num }}</a></li>
            {% endfor %}

            {% if pages < total_pages %}
                <li class="page-item"><a class="page-link" href="/account/{{pages+1}}">Next</a></li>
            {% endif %}
            
            </ul>
        </nav>
    
    </div>
</div>
