<!-- version 1.0 -->
<!-- <div class="xray-img__original--outer pt-2 pb-2 col-lg-1 col-md-2 col-sm-2">
    <div style="border-radius: 10px; overflow: hidden;border: 2px solid #387181; cursor: pointer;" class="xray-img--small mb-3 w-100">
        <img style="height: 60px; object-fit:cover" class="profile-img w-100" src="{% if user_image %}{{user_image}}{% else %}/static/img/xray-img-check.png{% endif %}" alt="" srcset="">
    </div>
</div> -->
<!-- 
<div class="xray-img__predict bg-light p-3 col-lg-8 col-md-10 col-sm-10 d-flex justify-content-center align-items-center" style="height: 400px;">
    <img width=80% style="height: 90% !important; object-fit:contain" id="xray-img--output" class="profile-img text-center" src="{% if user_image %}{{user_image}}{% else %}/static/img/xray-img-check.png{% endif %}" alt="" srcset="">
    {% if user_image %}
        <input type="hidden" name="img_link_predict" id="img_link_predict" value="{{user_image}}">
    {% endif %}
</div> -->
<!-- 
<div style="height: 400px" class="xray-predict overflow-scroll col-lg-3 col-md-12 col-sm-12">
    <div class="xray-predict__btn d-flex flex-wrap text-center w-100">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">AI Result</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Doctor Result</a>
            </li>
        </ul>

        <div class="tab-content w-100" id="myTabContent">
            
            {% if zip_data %}
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                {% for sick_name, percentage, sick_name_eng, colors in zip_data %}
                <div style="cursor: pointer;" class="text-light xray-predict__item w-100 mb-2">
                    <div class="xray-predict__title d-flex flex-wrap mb-2">
                        <p class="mb-0 w-75 text-left text-secondary">{{sick_name_eng}} ({{sick_name}})</p>
                            <p class="mb-0 w-25 text-right text-secondary">{{percentage}}%</p>
                    </div>
                    <div style="height: 5px; background-color: #ccc; border-radius: 10px; overflow: hidden" class="xray-percent--outer w-100">
                        <div style="width: {{ percentage }}%; background-color: rgb{{colors}}" class="xray-percent h-100">
    
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
                {% for sick_name, percentage, sick_name_eng, colors in doctor_zip_data %}
                <div style="cursor: pointer;" class="text-light xray-predict__item w-100 mb-2">
                    <div class="xray-predict__title d-flex flex-wrap mb-2">
                        <p class="mb-0 w-75 text-left text-secondary">{{sick_name_eng}} ({{sick_name}})</p>
                        <div>
                            <p class="mb-0 w-25 text-right text-secondary">{{percentage}}%</p>
                            <i style="font-size: 18px;" class="fa-solid fa-circle-minus text-danger"></i>
                        </div>
                    </div>
                    <div style="height: 5px; background-color: #ccc; border-radius: 10px; overflow: hidden" class="xray-percent--outer w-100">
                        <div style="width: {{ percentage }}%; background-color: rgb{{colors}}" class="xray-percent h-100">
    
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div> -->




<!-- version 1.1 -->
<div class="xray-img__original--outer pt-2 pb-2 col-lg-1 col-md-2 col-sm-2">
    <div style="
        border-radius: 10px;
        overflow: hidden;
        border: 2px solid #387181;
        cursor: pointer;
        " class="xray-img--small mb-3 w-100">

        <img data-toggle="modal" data-target="#xray-open__img" id="xray-img__small" style="height: 60px; object-fit: cover" class="profile-img w-100"
            src="{% if user_image %}{{user_image}}{% else %}/static/img/xray-img-check.png{% endif %}"
            alt="" srcset="" />
    </div>
</div>

<div class="xray-img__predict bg-light p-3 col-lg-8 col-md-10 col-sm-10 d-flex justify-content-center align-items-center"
    style="height: 400px; border: 1px solid var(--para-link); border-radius: 10px">
    <img width="80%" style="height: 90% !important; object-fit: contain" id="xray-img--output"
        class="profile-img text-center"
        src="{% if user_image %}{{user_image}}{% else %}/static/img/xray-img-check.png{% endif %}"
        alt="" srcset="" />
        <!-- <div class="d-flex flex-wrap justify-content-center align-items-center">
        </div> -->
        <canvas id="canvas" style="display: none;" width="330" height="90%" style="object-fit: contain" class="profile-img text-center"></canvas>
    
    <!-- <input type="hidden" name="img_link_download" id="img_link_download" value="{{user_image_local}}" /> -->
    <img style="width: 330px!important; height: 330px!important" hidden src="{% if user_image_local %}{{user_image_local}}{% else %}/static/img/xray-img-check.png{% endif %}" id="img_link_download" alt="">
    
    {% if user_image %}
    <input type="hidden" name="img_link_predict" id="img_link_predict" value="{{user_image}}" />
    {% endif %}
    <!-- <img style="object-fit: contain; height: 100%; width: 100%" src="" class="d-none" id="xray-img--real" alt="" srcset=""> -->
</div>

<div style="height: 400px" class="xray-predict overflow-scroll col-lg-3 col-md-12 col-sm-12">
    <div class="xray-predict__btn d-flex flex-wrap text-center w-100">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                    aria-controls="home" aria-selected="true">AI Result</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                    aria-controls="profile" aria-selected="false">Doctor Result</a>
            </li>
        </ul>

        <div class="tab-content w-100" id="myTabContent">
            {% if zip_data %}
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                {% for sick_name, percentage, sick_name_eng, colors in zip_data %}
                <div style="cursor: pointer" class="text-light xray-predict__item w-100 mb-2">
                    <div class="xray-predict__title d-flex flex-wrap mb-2">
                        <p class="mb-0 w-75 text-left text-secondary">
                            {{sick_name_eng}} ({{sick_name}})
                        </p>
                        <!-- <div> -->
                            <p class="mb-0 w-25 text-right text-secondary">
                                {{percentage}}%
                            </p>
                            <!-- <i style="font-size: 18px" class="fa-solid fa-circle-minus text-danger"></i> -->
                        <!-- </div> -->
                    </div>
                    <div style="
                        height: 5px;
                        background-color: #ccc;
                        border-radius: 10px;
                        overflow: hidden;
                        " class="xray-percent--outer w-100">
                        <div style="width: {{ percentage }}%; background-color: rgb{{colors}}"
                            class="xray-percent h-100"></div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                {% for sick_name, percentage, sick_name_eng, colors in zip_data %}
                <!-- sick_name, percentage, sick_name_eng, colors -->
                <div style="cursor: pointer" class="text-light xray-predict__item w-100 mb-2">
                    <div class="xray-predict__title d-flex flex-wrap mb-2">
                        <p class="mb-0 w-75 text-left text-secondary">
                            {{sick_name_eng}} ({{sick_name}})
                        </p>
                        <!-- <p class="mb-0 w-25 text-right text-secondary">{{percentage}}%</p> -->
                        <div>
                            <p class="mb-0 w-25 text-right text-secondary">
                                {{percentage}}%
                            </p>
                            <i style="font-size: 18px" class="fa-solid fa-circle-minus text-danger"></i>
                        </div>
                    </div>
                    <div style="
                        height: 5px;
                        background-color: #ccc;
                        border-radius: 10px;
                        overflow: hidden;
                        " class="xray-percent--outer w-100">
                        <div style="width: {{ percentage }}%; background-color: rgb{{colors}}"
                            class="xray-percent h-100"></div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>

</div>
<script>
    jsInXray();
    $(document).ajaxComplete(function() {
        $(document).ready(function(){
            //console.log("heello world");
            jsAjaxChangRangeInXray()
            sumUpManualBoundingBoxAndDownloadInXray();
            jsInXray();
        })
    });
</script>

<!-- <script>
    $(document).ajaxComplete(function(){
        jsInXray();

    })
</script> -->