<div class="xray-material p-5 d-flex flex-wrap w-100">
    <div class="xray-title col-lg-12 col-md-12 col-sm-12 mb-3">
        <h5>X-ray management</h5>
    </div>

    <div class="xray-btn col-lg-12 col-md-12 col-sm-12">
        <button data-toggle="modal" data-target="#add-record" style="float: right" type="submit"
            class="btn mb-4 btn-primary">
            <i class="fa-solid fa-user-gear"></i>
            Add Record
        </button>
    </div>
    <form style="" id="form" action="/xray" method="post" class="xray d-flex w-100 flex-wrap p-2" enctype="multipart/form-data">
        <div style="background-color: #fff;border-radius: 10px;" class="col-lg-12 col-md-12 col-sm-12 pt-3 pb-3 d-flex flex-wrap">
            <div class="xray-slider w-100 form-group d-flex flex-wrap justify-content-end" style="float: right">
                <input style="" class="w-25 form-range form-control p-3 col-lg-12 col-md-12 col-sm-12" type="range" name="range"
                    id="myRange" min="0" max="1" step="0.1"
                    value="{% if conf_thres %}{{conf_thres}}{% else %}0{% endif %}" />
                <p class="col-lg-12 col-md-12 col-sm-12 mt-2 d-flex flex-wrap justify-content-end">
                    Value:
                    <span id="rangeValue" class="ml-1">{% if conf_thres %}{{conf_thres}}{% else %}0{% endif %}</span>
                </p>
            </div>

            <div class="xray-general__predict col-lg-12 col-md-12 col-sm-12 d-flex flex-wrap"
                id="xray-general__predict">
                <div class="xray-img__original--outer pt-2 pb-2 col-lg-1 col-md-2 col-sm-2">
                    <div style="
                        border-radius: 10px;
                        overflow: hidden;
                        border: 2px solid #387181;
                        cursor: pointer;
                        " class="xray-img--small mb-3 w-100">

                        <img data-toggle="modal" data-target="#xray-open__img" id="xray-img__small" style="height: 60px; object-fit: cover" class="profile-img w-100"
                            src="{% if user_image %}{{user_image}}{% else %}/static/img/xray-img-check.png{% endif %}"
                            alt="" srcset="" />
                    </div>
                </div>

                <div class="xray-img__predict bg-light p-3 col-lg-8 col-md-10 col-sm-10 d-flex justify-content-center align-items-center"
                    style="height: 400px; border: 1px solid var(--para-link); border-radius: 10px">
                    <img width="80%" style="height: 90% !important; object-fit: contain" id="xray-img--output"
                        class="profile-img text-center"
                        src="{% if user_image %}{{user_image}}{% else %}/static/img/xray-img-check.png{% endif %}"
                        alt="" srcset="" />
                        <!-- <div class="d-flex flex-wrap justify-content-center align-items-center">
                        </div> -->
                        <canvas id="canvas" style="display: none;" width="330" height="90%" style="object-fit: contain" class="profile-img text-center"></canvas>
                    
                    <!-- <input type="hidden" name="img_link_download" id="img_link_download" value="{{user_image_local}}" /> -->
                    <img style="width: 330px!important; height: 330px!important" hidden src="{% if user_image_local %}{{user_image_local}}{% else %}/static/img/xray-img-check.png{% endif %}" id="img_link_download" alt="">
                    
                    {% if user_image %}
                    <input type="hidden" name="img_link_predict" id="img_link_predict" value="{{user_image}}" />
                    {% endif %}
                    <!-- <img style="object-fit: contain; height: 100%; width: 100%" src="" class="d-none" id="xray-img--real" alt="" srcset=""> -->
                </div>

                <div style="height: 400px" class="xray-predict overflow-scroll col-lg-3 col-md-12 col-sm-12">
                    <div class="xray-predict__btn d-flex flex-wrap text-center w-100">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                    aria-controls="home" aria-selected="true">AI Result</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                    aria-controls="profile" aria-selected="false">Doctor Result</a>
                            </li>
                        </ul>

                        <div class="tab-content w-100" id="myTabContent">
                            {% if zip_data %}
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                {% for sick_name, percentage, sick_name_eng, colors in zip_data %}
                                <div style="cursor: pointer" class="text-light xray-predict__item w-100 mb-2">
                                    <div class="xray-predict__title d-flex flex-wrap mb-2">
                                        <p class="mb-0 w-75 text-left text-secondary">
                                            {{sick_name_eng}} ({{sick_name}})
                                        </p>
                                        <!-- <div> -->
                                            <p class="mb-0 w-25 text-right text-secondary">
                                                {{percentage}}%
                                            </p>
                                            <!-- <i style="font-size: 18px" class="fa-solid fa-circle-minus text-danger"></i> -->
                                        <!-- </div> -->
                                    </div>
                                    <div style="
                                        height: 5px;
                                        background-color: #ccc;
                                        border-radius: 10px;
                                        overflow: hidden;
                                        " class="xray-percent--outer w-100">
                                        <div style="width: {{ percentage }}%; background-color: rgb{{colors}}"
                                            class="xray-percent h-100"></div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                {% for sick_name, percentage, sick_name_eng, colors in zip_data %}
                                <!-- sick_name, percentage, sick_name_eng, colors -->
                                <div style="cursor: pointer" class="text-light xray-predict__item w-100 mb-2">
                                    <div class="xray-predict__title d-flex flex-wrap mb-2">
                                        <p class="mb-0 w-75 text-left text-secondary">
                                            {{sick_name_eng}} ({{sick_name}})
                                        </p>
                                        <!-- <p class="mb-0 w-25 text-right text-secondary">{{percentage}}%</p> -->
                                        <div>
                                            <p class="mb-0 w-25 text-right text-secondary">
                                                {{percentage}}%
                                            </p>
                                            <i style="font-size: 18px" class="fa-solid fa-circle-minus text-danger"></i>
                                        </div>
                                    </div>
                                    <div style="
                                        height: 5px;
                                        background-color: #ccc;
                                        border-radius: 10px;
                                        overflow: hidden;
                                        " class="xray-percent--outer w-100">
                                        <div style="width: {{ percentage }}%; background-color: rgb{{colors}}"
                                            class="xray-percent h-100"></div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>

            <div class="xray-btn mt-5 d-flex flex-wrap justify-content-end col-lg-3 col-md-3 col-sm-3 mt-3 ml-auto">
                <div class="xray-btn-upload  col-lg-6 text-right">
                    <label for="upload" onclick="" id="upload_button" class="btn btn-info" style="width: 105px;">Upload</label>
                    <input id="upload" type="file" name="file" style="display: none" accept="image/*"
                        class="form-control" onchange="handleUploadImg()" />
                </div>

                <div class="xray-btn-checking col-lg-6 text-left">
                    <button id="checking" class="btn btn-success" style="width: 105px;">Checking</button>
                </div>

                {% if user_image_local %}
                <div class="xray-btn-download col-lg-6 text-right">
                    <a id="downloading" class="btn btn-primary" style="width: 105px;">Download</a>
                </div>

                <div class="xray-btn-edit col-lg-6 text-left">
                    <a id="editing" class="btn btn-danger" style="width: 105px;">Edit mode</a>
                </div>
                {% endif %}
            </div>
        </div>
    </form>

    <!-- overlay -->
    <div id="overlay" class="overlay d-none">
        <div class="loader-wrapper d-flex flex-wrap w-100 h-100 justify-content-center align-items-center">
            <div class="w-100 text-center" style="height: 200px">
                <div class="w-100 mb-4 d-flex flex-wrap justify-content-center">
                    <div class="loader col-lg-12 col-md-12 col-sm-12" style="width: 100px; height: 100px"></div>
                </div>
                <div style="font-size: 25px"
                    class="font-weight-bold text-warning loading-text enter-loading col-lg-12 col-md-12 col-sm-12">
                    Đang thực hiện tính toán
                </div>
            </div>
        </div>
    </div>

    <!--    add modal -->
    <div class="modal fade" id="add-record">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form onsubmit="return false" method="post">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h5 class="modal-title">Add Record</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home_add" role="tab" aria-controls="home" aria-selected="true"><i class="fa-solid fa-heart-pulse"></i> Medical Record</a>
                            </li>
                            <!-- <li class="nav-item">
                              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile_add" role="tab" aria-controls="profile" aria-selected="false">Patient</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact_add" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                            </li> -->
                        </ul>

                          <div class="tab-content" id="myTabContent">
                            <!-- add record -->
                            <div class="tab-pane fade show active d-flex flex-wrap" id="home_add" role="tabpanel" aria-labelledby="home-tab">
                                <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">

                                        <div class="form-group">
                                            <label for="full_name_add">Full name</label>
                                            <input class="form-control" type="text" name="full_name_add" id="full_name_add"
                                                placeholder="Full name" required />
                                        </div>
            
                                        <div class="form-group">
                                            <label for="number_add">PID</label>
                                            <input class="form-control" type="number" name="number_add" id="number_add"
                                                placeholder="PID" required />
                                        </div>
            
                                        <div class="form-group">
                                            <label for="age_add">Age</label>
                                            <input class="form-control" type="text" name="age_add" id="age_add"
                                                placeholder="Age" required />
                                        </div>
            
                                        <div class="form-group">
                                            <label for="phone_add">Phone number</label>
                                            <input class="form-control" placeholder="Phone number" type="number" name="phone_add" id="phone_add" required />
                                        </div>
            
                                        <div class="form-group">
                                            <label for="gender_add">Gender</label>
                                            <select class="form-control" name="gender_add" id="gender_add">
                                                <option value="">--Choose gender--</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label for="address_add">Address</label>
                                            <input class="form-control" type="text" name="address_add" id="address_add"
                                                placeholder="Address" required />
                                        </div>
            
                                        <div class="form-group">
                                            <label for="date_add">Birthday</label>
                                            <input type="date" class="form-control" name="date_add" id="date_add">
                                        </div>
            
                                        <div class="form-group">
                                            <label for="email_add">Email</label>
                                            <input class="form-control" type="email" name="email_add" id="email_add"
                                                placeholder="Email" required />
                                        </div>
            
                                        <div class="form-group">
                                            <label for="doctor_predict_add">Prediction</label>
                                            <!-- <input class="form-control" type="date" name="dob_add" id="dob_add" required /> -->
                                            <textarea class="form-control" style="white-space: pre-wrap;" name="doctor_predict_add" id="doctor_predict_add" cols="30" rows="5" contenteditable="true">{% for item in sick_name %}{{ item }}{% if not loop.last %}&#13;&#10;{% endif %}{% endfor %}</textarea>
                                        </div>
            
                                        <!-- <div class="form-group">
                                            <label for="phone_add">Phone number</label>
                                            <input class="form-control" type="number" name="phone_add" id="phone_add"
                                                placeholder="Phone number" required />
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <!-- add patient if not exist -->
                            <div class="tab-pane fade" id="profile_add" role="tabpanel" aria-labelledby="profile-tab">hello 2</div>

                            <div class="tab-pane fade" id="contact_add" role="tabpanel" aria-labelledby="contact-tab">hello 3</div>
                          </div>
                        
                    </div>

                    <div id="error_adding_record_outer" style="width: 90%"
                        class="form-group ml-auto mr-auto mb-3 d-none login-form--error text-center alert alert-danger">
                        <p id="error_adding_record" class="login-form__para mb-0 text-danger"></p>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button id="btn_add-record" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- choosing disease modal -->
    <div class="modal fade" id="selectOptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Select disease</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <label for="options">Disease:</label>
              <select class="form-control" id="options">
                {% for disease in disease_list %}
                    <option value="{{disease._disease_name_eng}}">{{disease._disease_name}} - {{disease._disease_name_eng}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModal">Close</button>
              <button type="button" class="btn btn-primary" id="saveOption">Save</button>
            </div>
          </div>
        </div>
    </div>
    
    <!-- open img -->
    <!-- Modal -->
<style>
    .img-container {
        position: relative;
    }
    
    .img-zoom-result {
        position: absolute;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        display: none;
        width: 200px; /* Độ rộng của vùng phóng to */
        height: 200px; /* Độ cao của vùng phóng to */
        z-index: 9999;
    }
    
</style>

<div class="modal fade" id="xray-open__img" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Xray image</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="d-flex flex-wrap justify-content-center img-container">
                <img width="800" height="800" id="xray-img--show" src="" alt="" srcset="">
                <div id="zoomed-in-section" class="img-zoom-result"></div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>
   
<script>
    jsInXray();
    sumUpManualBoundingBoxAndDownloadInXray();
    jsAjaxChangRangeInXray()
    $(document).ajaxComplete(function() {
        $(document).ready(function(){
            jsAjaxChangRangeInXray()
            sumUpManualBoundingBoxAndDownloadInXray();
            jsInXray();
        })
    });

</script>
</div>