        <div class="main-sidebar" style="background-color: var(--main-color-update); min-height: 100%; border-right: 0.5px solid #ccc;">
            <ul class="main-sidebar__list">

                <!-- <a class="main-sidebar__item main-sidebar__item--disabled d-flex justify-content-center align-items-center text-decoration-none" style="color: #fff">

                    <p style="width: 10%; height: 3px" class="bg-light ml-3 mb-4 mt-4 main-sidebar__para d-none"></p>

                </a> -->

                <a href="/" class="main-sidebar__item d-flex justify-content-center align-items-center text-decoration-none" style="color: #fff">
                    <i  class="main-sidebar__item--icon p-3 d-block fa-solid fa-house"></i>
                    <p class="mb-0 mt-1 main-sidebar__para d-none">Home</p>
                </a>
                <a href="/xray" class="main-sidebar__item d-flex justify-content-center align-items-center text-decoration-none" style="color: #fff">
                    <i  class="main-sidebar__item--icon p-3 d-block fa-solid fa-x-ray"></i>
                    <p class="mb-0 mt-1 main-sidebar__para d-none">X-Ray</p>
                </a>
                <a href="/account" class="main-sidebar__item d-flex justify-content-center align-items-center text-decoration-none" style="color: #fff">
                    <i  class="main-sidebar__item--icon p-3 d-block fa-solid fa-users-gear"></i>
                    <p class="mb-0 mt-1 main-sidebar__para d-none">Account</p>
                </a>
                <a href="/product" class="main-sidebar__item d-flex justify-content-center align-items-center text-decoration-none" style="color: #fff">
                    <i  class="main-sidebar__item--icon p-3 d-block fa-solid fa-store"></i>
                    <p class="mb-0 mt-1 main-sidebar__para d-none">Product</p>
                </a>
                <a href="/customer" class="main-sidebar__item d-flex justify-content-center align-items-center text-decoration-none" style="color: #fff">
                    <i  class="main-sidebar__item--icon p-3 d-block fa-solid fa-people-group"></i>
                    <p class="mb-0 mt-1 main-sidebar__para d-none">Customer</p>
                </a>
                <a href="/payment/report" class="main-sidebar__item d-flex justify-content-center align-items-center text-decoration-none" style="color: #fff">
                    <i  class="main-sidebar__item--icon p-3 d-block fa-solid fa-chart-pie"></i>
                    <p class="mb-0 mt-1 main-sidebar__para d-none">Report</p>
                </a>
                <a href="/user/profile" class="main-sidebar__item d-flex justify-content-center align-items-center text-decoration-none" style="color: #fff">
                    <i  class="main-sidebar__item--icon p-3 d-block fa-solid fa-gear"></i>
                    <p class="mb-0 mt-1 main-sidebar__para d-none">Settings</p>
                </a>
    
                <a href="/log/change_pass" class="main-sidebar__item d-flex justify-content-center align-items-center text-decoration-none" style="color: #fff">
                    <i  class="main-sidebar__item--icon p-3 d-block fa-solid fa-lock"></i>
                    <p class="mb-0 mt-1 main-sidebar__para d-none">Change pass</p>
                </a>
    
                <a href="/log/logout" class="main-sidebar__item d-flex justify-content-center align-items-center text-decoration-none" style="color: #fff">
                    <i  class="main-sidebar__item--icon p-3 d-block fa-solid fa-right-to-bracket"></i>
                    <p class="mb-0 mt-1 main-sidebar__para d-none">Log out</p>
                </a>
            </ul>
        </div>
