<div class="bg--outside main_navbar--outside" style="background-color: white; z-index: 1;">
    <div class="container" >
        <div class="row">
    
            <nav class="main_navbar d-flex justify-content-between w-100 flex-wrap">
                <header class="header-left col-lg-4 col-md-4 col-sm-4 mt-auto mb-auto">
                    <div class="header-left__img d-flex align-items-center">
                        <img class="" style="width: 80px;" src="{{url_for('static', filename='img/main_logo.png')}}" alt="" srcset="">
                        <!-- <h2 class="mb-0">Syring</h2> -->
                    </div>
                </header>
            
                <header class="header-right col-lg-8 col-md-8 col-sm-8">
                    <ul class="header-right__list list-unstyled mb-0 flex-wrap h-100 d-flex align-items-center justify-content-end">
                        <li class="header-right__items">
                            <a href="#" class="header-right__link">
                                Home
                            </a>
                        </li>
                        <li class="header-right__items">
                            <a href="#about" class="header-right__link">
                                About
                            </a>
                        </li>
                        <li class="header-right__items">
                            <a href="#appointment" class="header-right__link">
                                Appointment
                            </a>
                        </li>
                        <li class="header-right__items">
                            <a href="#tracking" class="header-right__link">
                                Tracking
                            </a>
                        </li>
                        <li class="header-right__items">
                            <a aria-haspopup="true" aria-expanded="false" href="#services" class="header-right__link">
                                Services
                            </a>
                        </li>
                        <li class="header-right__items">
                            <a href="/log/login" class="header-right__link">
                                Login
                            </a>
                        </li>

                        <li class="header-right__bar col-l-0" style="font-size: 1.7rem; cursor:pointer">
                            <i class="fa-solid fa-bars"></i>
                        </li>
                    </ul>
                </header>
            </nav>
        </div>
    </div>

</div>