<div class="col-lg-11 col-md-10 col-sm-11">
    <div class="diagram d-flex flex-wrap p-5">
        <div class="piechart-title col-lg-12 col-sm-12 col-md-12 mb-4">
            <p style="font-size: 1.8rem;" class="text-center">
                Rate chart of lung-related diseases
            </p>
        </div>

        
        <div id="pie-chart" style="height: 400px; width: 100%; float: left" class="pie_chart"></div>
        <style>

        </style>
    


        <!-- <div class="piechart col-lg-5 col-md-12 col-sm-12">
            <div style="background-image: conic-gradient( 
                #19a3d5 0 54deg, 
                #e44029 54deg 82.8deg, 
                #fd7e32 82.8deg 126deg,
                #f5c738 126deg 147.6deg,
                #80c25e 147.6deg 183.6deg,
                #2bafda 183.6deg 198deg,
                #423fa5 198deg 262.8deg,
                #e02617 262.8deg 280.8deg,
                #bc6cca 280.8deg 306deg,
                #633ebb 306deg 338.4deg,
                #f13c59 338.4deg 356.4deg,
                #f2b360 356.4deg 360deg
                ); width: 400px; height: 400px; border-radius: 50%;"
                class="piechart-diagram"></div> 
        </div> -->

        <!-- <div class="piechart-note col-lg-7 col-md-12 col-sm-12 d-flex flex-wrap mt-auto mb-auto">
                <div class="piechart-note-0 pie-chart-note">
                    <div style="background-color: #19a3d5;" class="piechart-color"></div>
                    <div class="piechart-info">Aortic enlargement</div>
                </div>

                <div class="piechart-note-1 pie-chart-note">
                    <div style="background-color: #e44029;" class="piechart-color"></div>
                    <div class="piechart-info">Atelectasis</div>
                </div>

                <div class="piechart-note-2 pie-chart-note">
                    <div style="background-color: #fd7e32;" class="piechart-color"></div>
                    <div class="piechart-info">Calcification</div>
                </div>

                <div class="piechart-note-3 pie-chart-note">
                    <div style="background-color: #f5c738;" class="piechart-color"></div>
                    <div class="piechart-info">Cardiomegaly</div>
                </div>

                <div class="piechart-note-4 pie-chart-note">
                    <div style="background-color: #80c25e;" class="piechart-color"></div>
                    <div class="piechart-info">Consolidation</div>
                </div>

                <div class="piechart-note-5 pie-chart-note">
                    <div style="background-color: #2bafda;" class="piechart-color"></div>
                    <div class="piechart-info">ILD</div>
                </div>

                <div class="piechart-note-6 pie-chart-note">
                    <div style="background-color: #423fa5;" class="piechart-color"></div>
                    <div class="piechart-info">Infiltration</div>
                </div>

                <div class="piechart-note-7 pie-chart-note">
                    <div style="background-color: #e02617;" class="piechart-color"></div>
                    <div class="piechart-info">Lung Opacity</div>
                </div>

                <div class="piechart-note-8 pie-chart-note">
                    <div style="background-color: #bc6cca;" class="piechart-color"></div>
                    <div class="piechart-info">Nodule/Mass</div>
                </div>

                <div class="piechart-note-9 pie-chart-note">
                    <div style="background-color: #633ebb;" class="piechart-color"></div>
                    <div class="piechart-info">Other lesion</div>
                </div>

                <div class="piechart-note-10 pie-chart-note">
                    <div style="background-color: #f13c59;" class="piechart-color"></div>
                    <div class="piechart-info">Pleural effusion</div>
                </div>

                <div class="piechart-note-11 pie-chart-note">
                    <div style="background-color: #f2b360;" class="piechart-color"></div>
                    <div class="piechart-info">Pleural thickening</div>
                </div>
        </div> -->

    </div>

    <div class="column-chart d-flex flex-wrap p-5">
        <div class="piechart-title col-lg-12 col-sm-12 col-md-12 mb-4 mt-4">
            <p style="font-size: 1.8rem;" class="text-center">
                Rate chart of lung-related diseases
            </p>
        </div>

        <!-- <div class="piechart-note col-lg-3 col-md-12 col-sm-12 d-flex flex-wrap m-auto">
            <div class="piechart-note-0 col-chart-note">
                <div style="background-color: pink;" class="piechart-color"></div>
                <div class="piechart-info">Aortic enlargement</div>
            </div>

            <div class="piechart-note-1 col-chart-note">
                <div style="background-color: lightblue;" class="piechart-color"></div>
                <div class="piechart-info">Atelectasis</div>
            </div>

            <div class="piechart-note-2 col-chart-note">
                <div style="background-color: yellow;" class="piechart-color"></div>
                <div class="piechart-info">Calcification</div>
            </div>

            <div class="piechart-note-3 col-chart-note">
                <div style="background-color: orange;" class="piechart-color"></div>
                <div class="piechart-info">Cardiomegaly</div>
            </div>

            <div class="piechart-note-4 col-chart-note">
                <div style="background-color: purple;" class="piechart-color"></div>
                <div class="piechart-info">Consolidation</div>
            </div>

            <div class="piechart-note-5 col-chart-note">
                <div style="background-color: grey;" class="piechart-color"></div>
                <div class="piechart-info">ILD</div>
            </div>

            <div class="piechart-note-6 col-chart-note">
                <div style="background-color: cyan;" class="piechart-color"></div>
                <div class="piechart-info">Infiltration</div>
            </div>

            <div class="piechart-note-7 col-chart-note">
                <div style="background-color: green;" class="piechart-color"></div>
                <div class="piechart-info">Lung Opacity</div>
            </div>

            <div class="piechart-note-8 col-chart-note">
                <div style="background-color: blue;" class="piechart-color"></div>
                <div class="piechart-info">Nodule/Mass</div>
            </div>

            <div class="piechart-note-9 col-chart-note">
                <div style="background-color: red;" class="piechart-color"></div>
                <div class="piechart-info">Other lesion</div>
            </div>

            <div class="piechart-note-10 col-chart-note">
                <div style="background-color: bisque;" class="piechart-color"></div>
                <div class="piechart-info">Pleural effusion</div>
            </div>

            <div class="piechart-note-11 col-chart-note">
                <div style="background-color: violet;" class="piechart-color"></div>
                <div class="piechart-info">Pleural thickening</div>
            </div>
        </div>

        <div class="column-chart-layout col-lg-7 col-md-12 col-sm-12">
            <div class="column-chart-layout__item" style="--percent: 10%; background-color: pink;">10%</div>
            <div class="column-chart-layout__item" style="--percent: 20%; background-color: lightblue;">20%</div>
            <div class="column-chart-layout__item" style="--percent: 40%; background-color: yellow;">40%</div>
            <div class="column-chart-layout__item" style="--percent: 90%; background-color: orange;">90%</div>
            <div class="column-chart-layout__item" style="--percent: 80%; background-color: purple;">80%</div>
            <div class="column-chart-layout__item" style="--percent: 40%; background-color: grey;">40%</div>
            <div class="column-chart-layout__item" style="--percent: 10%; background-color: cyan;">10%</div>
            <div class="column-chart-layout__item" style="--percent: 20%; background-color: green;">20%</div>
            <div class="column-chart-layout__item" style="--percent: 69%; background-color: blue;">69%</div>
            <div class="column-chart-layout__item" style="--percent: 96%; background-color: red;">96%</div>
            <div class="column-chart-layout__item" style="--percent: 60%; background-color: bisque;">60%</div>
            <div class="column-chart-layout__item" style="--percent: 88%; background-color: violet;">88%</div>
        </div> -->

    <div id="column-chart" class="column_chart" style="height: 400px; width: 100%; float: left;"></div>

    </div>
</div>

<script type="text/javascript">
    window.onload = function () {
    var pie_chart = new CanvasJS.Chart("pie-chart", {
        exportEnabled: true,
        animationEnabled: true,
        title: {
            text: "Rate chart of lung-related diseases"
        },
        legend: {
          /*verticalAlign: "center",
          horizontalAlign: "right",*/
          //markerMargin: 50,
        },
        data: [{
            type: "pie",
            horizontalAlign: "left",
            showInLegend: true,
            legendText: "{label}",
            toolTipContent: "<b>{label}</b>: {y}%",
            dataPoints: [
            { label: "Aortic enlargement", y: 12 },
            { label: "Atelectasis", y: 8 },
            { label: "Calcification", y: 3 },
            { label: "Cardiomegaly", y: 7 },
            { label: "Consolidation", y: 6 },
            { label: "ILD", y: 10 },
            { label: "Infiltration", y: 5 },
            { label: "Lung Opacity", y: 11 },
            { label: "Nodule/Mass", y: 9 },
            { label: "Other lesion", y: 2 },
            { label: "Pleural effusion", y: 10 },
            { label: "Pleural thickening", y: 7 },

            ]
        }]
    });

        pie_chart.render();

    var column_chart = new CanvasJS.Chart("column-chart", {
        exportEnabled: true,
        animationEnabled: true,
        title: {
            text: "Rate chart of lung-related diseases"
        },
            /*axisY: {
              title: "Sales in USD"
            },
            legend: {
              verticalAlign: "center",
              horizontalAlign: "right"
            },*/
        data: [{
            type: "column",

            dataPoints: [
            { label: "Aortic enlargement", y: 12 },
            { label: "Atelectasis", y: 8 },
            { label: "Calcification", y: 3 },
            { label: "Cardiomegaly", y: 7 },
            { label: "Consolidation", y: 6 },
            { label: "ILD", y: 10 },
            { label: "Infiltration", y: 5 },
            { label: "Lung Opacity", y: 11 },
            { label: "Nodule/Mass", y: 9 },
            { label: "Other lesion", y: 2 },
            { label: "Pleural effusion", y: 10 },
            { label: "Pleural thickening", y: 7 },
            ]
       }]
    });
    
    column_chart.render();
}
</script>