<div class="col-lg-11 col-md-11 col-sm-11">
    <div class="diagram d-flex flex-wrap p-5">
        <div class="piechart col-lg-5 col-md-12 col-sm-12">
            <div style="background-image: conic-gradient( 
                pink 0 54deg, 
                lightblue 54deg 82.8deg, 
                yellow 82.8deg 126deg,
                orange 126deg 147.6deg,
                purple 147.6deg 183.6deg,
                grey 183.6deg 198deg,
                cyan 198deg 262.8deg,
                green 262.8deg 280.8deg,
                blue 280.8deg 306deg,
                red 306deg 338.4deg,
                bisque 338.4deg 356.4deg,
                violet 356.4deg 360deg
                ); width: 400px; height: 400px; border-radius: 50%;"
                class="piechart-diagram"></div> 
        </div>

            <div class="piechart-note col-lg-7 col-md-12 col-sm-12">
                <div class="piechart-note-1">
                    <span class="piechart-color"></span>
                    <div class="piechart-info"></div>
                </div>
            </div>
    </div>
</div>



