:root{
    --main-color: #d2e4fa;
    --text-link: #939393;
    --para-link: #003e7d;
}

*{
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}

html{
    /* font-size: 62.5%; */
    /* => 1rem = 10px */
    /* line-height: 1.6rem; */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* overflow-x: auto; */
}

body{
    margin: 0;
}

.bg--outside{
    background-color: var(--main-color);

}