/* login */
.login{
    border-radius: 15px;
    border: 1px solid #ccc;
}

.login-body{
    height: 100vh;
}

.login-bg__img{
    width: 100%;
    height: 450px;
    /* border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; */
}

.login-form__title{
    color: #4593b9;
}

.login-form__small{
    color: var(--text-link);
}

.login-form__label{
    color: var(--text-link);
}

.login-form__link{
    text-decoration: underline;
    color: var(--text-link);
}

.login-form__para{
    color: #5c5c5c;
}

/* navbar */
.main_navbar--outside{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header-right__items{
    padding: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1rem;
    transition: ease-in-out 2s;
}

.header-right__link{
    color: #5c5c5c ;
    text-decoration: none !important;
}

.header-right__link:hover{
    color: #000;
}

/* side bar, dashboard chart, personality */

.pie-chart-note{
    display: flex;
    width: 50%;
    align-items: center;
}

.piechart-info{
    margin-left: 10px;
}

.col-chart-note{
    display: flex;
    width: 60%;
    align-items: center;
}

.pie_chart, .column_chart{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.column-chart-layout {
    margin: 36px auto 0 auto;
    padding: 32px 0;
    height: 320px;
    /* background-color: #fff; */
    display: flex;
    /* align-items: flex-end; */
    justify-content: space-around;
}

.column-chart-layout__item {
    align-self: flex-end;
    width: 60px;
    color: #fff;
    text-align: center;
    height: var(--percent);
    background-color: #EF5122;
    animation: growth ease-in 0.5s;
}

.piechart-color{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 2px;
    background-color: red;
}

/* personality */

.personality__info--details{
    width: 80%; 
    height: 300px; 
    background-color: #fff; 
    transform:translateY(-80px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.personality__background{
    width: 80%; 
    height: 100px; 
    background-color: var(--main-color-update);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.personality-description__para{
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 3; 
    overflow: hidden;
}


/* patient-progress */
.patient-progress--info::-webkit-scrollbar{
    display: none;
}

/* side bar */
.main-sidebar__list{
    list-style: none;
    padding-left: 0;
}

.main-sidebar__item{
    /* padding-left: 5px; */
    text-align: center;
}

.main-sidebar__item--icon{
    /* border-radius: 10px; */
    /* border: 0.5px solid #ccc; */
    cursor: pointer;
    font-size: 1.6rem;
    width: 60px;
}

.main-sidebar__item:hover{
    /* padding-left: 5px; */
    transform: scale(1.1);
    transition: ease-in-out 0.3s;
}

.main-sidebar__item--disabled:hover{
    transform: none;
}

/* home */
.slider-container {
    width: 100% !important;
    height: 100vh !important;
    display: flex !important;
    overflow: hidden !important;
}

.slide {
    flex: 0 0 100% !important;
    box-sizing: border-box!important;
    padding: 20px;
    /* text-align: center; */
    /* background-color: #f1f1f1; */
}

.slider-container {
    transition: transform 0.5s ease-in-out;
}

.home::after{
    content: "";
    background-image: url('../img/3.jpg');
    background-size: cover;
    /* filter: blur(10px); Điều chỉnh độ mờ ở đây */
    position: absolute;
    top: -320px;
    left: 0;
    width: 100%;
    height: 600px;
    z-index: -1;
}

.home-2::after{
    background-image: url('../img/2.jpg');
}

.home-3::after{
    background-image: url('../img/1.jpg');
}

.home-img{
    transform: translateY(55px);
    border-radius: 50%;
    right: 70px;
}

.home-img-2{
    transform: translateY(28px);
}

.home-welcome{
    font-family: Tahoma, sans-serif;
    left: 13.5%;
    /* top: 35%; */
}

.home-welcome-2{
    left: unset;
    right: 0;
}

.home-welcome-3{
    left: 36%;
    right: 50%;
}

.home-welcome__para{
    text-transform: uppercase;
}

/* 2nd home */
.home-requirement__list{
    border: 0.5px solid #eae9e9;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
}

.home-requirement__items--title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 2rem;
}

.home-requirement__items{
    padding: 10px;
    margin: 10px;
    background-color: var(--para-link);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;

}

.home-requirement__right-items--inner{
    border: 0.5px solid #e8e8e8;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
}

.home-requirement__right-items--inner:hover{
    box-shadow: 0 7px 14px 0 rgba(59,65,94,.1), 0 3px 6px 0 rgba(0,0,0,.07);
    transform: translateY(-8px);
    transition: ease-in-out .2s;
}

.home-requirement__right-items--title, .home-requirement__right-items--para,
.home-requirement__tight-items--link--inner{
    color: var(--para-link) !important;
}

.home-requirement__items:hover{
    background-color: #4ea8c4!important;
    transform: scale(1.025);
    transition: all ease-in-out .3s;
    
}

.home-requirement__about-right--para{
    font-size: 0.7rem;
}

/* account */

.account-col{
    width: 46px;
    height: 41px;
    border-radius: 50%;
    border: 0.5px solid #ccc;
}

/* user */
.user-items:hover{
    transform: translateY(-4px);
    transition: linear 0.2s;
}

/* xray */
.xray-img__original--outer{
    /* border: 0.5px solid #051f32; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.xray-predict::-webkit-scrollbar{
    display: none;
}

/* overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu overlay */
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.loader-wrapper {
    width: 100px;
    height: 100px;
}
  
.loader {
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}
  
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    /* đặt độ trong suốt ở giá trị alpha của rgba */
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}