/* login */
.login{
    border-radius: 15px;
    border: 1px solid #ccc;
}

.login-body{
    height: 100vh;
}

.login-bg__img{
    width: 100%;
    height: 450px;
    /* border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; */
}

.login-form__title{
    color: #4593b9;
}

.login-form__small{
    color: var(--text-link);
}

.login-form__label{
    color: var(--text-link);
}

.login-form__link{
    text-decoration: underline;
    color: var(--text-link);
}

.login-form__para{
    color: #5c5c5c;
}

/* navbar */
.main_navbar--outside{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header-right__items{
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.1rem;
}

.header-right__link{
    color: #5c5c5c ;
    text-decoration: none !important;
}

.header-right__link:hover{
    color: #000;
}

/* home */
.home::after{
    content: "";
    background-image: url('../img/bg_main_1.jpg');
    background-size: cover;
    filter: blur(10px); /* Điều chỉnh độ mờ ở đây */
    position: absolute;
    /* top: 0; */
    left: 0;
    width: 100%;
    height: 90%;
    z-index: -1;
}

.home-img{
    right: 150px;
    bottom: -10px;
    border-radius: 50%;
}

.home-welcome{
    font-family: Tahoma, sans-serif;
    left: 13.5%;
    top: 35%;
}

.home-welcome__para{
    text-transform: uppercase;
}
