/* Mobile */
@media only screen and (max-width: 46.1875em){
    /* login */
    .login-body{
        height: unset;
    }

    .login-bg__img{
        height: 300px;
    }

    #pid{
        width: 100%!important;
    }

    .home-welcome{
        left: 0;
    }

    .home::after{
        height: 600px;
    }

    .home-img{
        display: none!important;
    }

    .home-requirement__about-right{
        margin-top: 8rem;
    }

    #welcome-text{
        font-size: 2.5rem;
    }

    #medical-text{
        font-size: 2.8rem;
    }

    .header-right__items{
        display: none !important;
    }

    .header-right__bar{
        display: block;
    }

    .dashboard{
        margin-top: calc(var(--header-height) - 15px);
    }

        /* collapsed */
        #header-sidebar.collapsed, #sidebar.collapsed {
            width: 25%!important;
            transition: all linear .2s;
        }
        
        #sidebar, #header-sidebar {
            transition: all linear .2s;
        }
        
        #header-content.collapsed, .content.collapsed{
            width: 75%!important;
            transition: all linear .2s;
            #pie-chart, #column-chart{
                width: 100%!important;
            }
            .canvasjs-chart-canvas, .pie_chart, .column_chart{
                height: 320px!important;
            }
        }
            
        .content, #header-content {
            transition: all linear .2s;
        }
        
        .canvasjs-chart-canvas{
            width: 100%!important;
        }
    
        /* ========================== */

        /* personality */
        .personality{
            width: 70%!important;
        }

        .personality__background{
            width: 100%;
        }

        .personality__info--details{
            width: 100%;
        }

        .personality__img{
            width: 100%!important;
        }
}

/* Tablet */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    /* login */
    .login-body{
        height: unset;
    }

    .login-bg__img{
        height: 480px;
    }

    #pid{
        width: 100%!important;
    }

    .home-requirement__about-right{
        margin-top: 8rem;
    }

    .home-welcome{
        left: 0;
    }

    .home::after{
        height: 600px;
    }
    
    .home-img{
        display: none!important;
    }

    #welcome-text{
        font-size: 2.5rem;
    }

    #medical-text{
        font-size: 2.8rem;
    }

    .header-right__items{
        display: none !important;
    }

    .header-right__bar{
        display: block;
    }

    .dashboard{
        margin-top: calc(var(--header-height) - 8px);
    }

    /* collapsed */
    #header-sidebar.collapsed, #sidebar.collapsed {
        width: 20%!important;
        transition: all linear .2s;
    }
    
    #sidebar, #header-sidebar {
        transition: all linear .2s;
    }
    
    #header-content.collapsed, .content.collapsed{
        width: 80%!important;
        transition: all linear .2s;
        #pie-chart, #column-chart{
            width: 100%!important;
        }
        .canvasjs-chart-canvas, .pie_chart, .column_chart{
            height: 350px!important;
        }
    }
        
    .content, #header-content {
        transition: all linear .2s;
    }
    
    .canvasjs-chart-canvas{
        width: 100%!important;
    }

    /* ========================== */

    /* personality */
    .personality{
        width: 70%!important;
    }

    .personality__background{
        width: 100%;
    }

    .personality__info--details{
        width: 100%;
    }

    .personality__img{
        width: 100%!important;
    }
}

/* PC */
@media only screen and (min-width: 64em){
    .header-right__bar{
        display: none;
    }

    .dashboard{
        margin-top: var(--header-height);
    }
}