
{#            <div class="body-target--outer p-5" style="background-color: #fff; border-radius: 10px">#}
{#                <div class="row p-3">#}
{#                    <div class="col-2">#}
{#                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"#}
{#                            aria-orientation="vertical">#}
{#                            <button class="nav-link active" style="border: 1px solid #ccc; background-color: #066ac9; color: #fff" id="v-pills-home-tab" data-toggle="pill"#}
{#                                data-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"#}
{#                                aria-selected="true">#}
{#                                Body target#}
{#                            </button>#}
{#                            <button class="nav-link btn btn-primary" style="border: 1px solid #ccc; background-color: #066ac9; color: #fff" id="v-pills-profile-tab" data-toggle="pill"#}
{#                                data-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"#}
{#                                aria-selected="false">#}
{#                                Cardiopulmonary ratio#}
{#                            </button>#}
{#                            <button class="nav-link btn btn-primary" style="border: 1px solid #ccc; background-color: #066ac9; color: #fff" id="v-pills-contours-tab" data-toggle="pill" data-target="#v-pills-contours" type="button" role="tab" aria-controls="v-pills-contours" aria-selected="false">#}
{#                                Diaphragm angle#}
{#                            </button>#}
{#                            <button class="nav-link btn btn-primary" style="border: 1px solid #ccc; background-color: #066ac9; color: #fff" id="v-pills-contours-tab" data-toggle="pill" data-target="#v-pills-contours" type="button" role="tab" aria-controls="v-pills-contours" aria-selected="false">#}
{#                                Detection#}
{#                            </button>#}
{#                        <button class="nav-link" id="v-pills-settings-tab" data-toggle="pill" data-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-10">#}
{#                        <div class="tab-content" id="v-pills-tabContent">#}
{#                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"#}
{#                                aria-labelledby="v-pills-home-tab">#}
{#                                <div class="modal-body">#}
{#                                    <div class="d-flex flex-wrap justify-content-center img-container"#}
{#                                        id="body-target--showed" style="border: 1px solid var(--para-link); border-radius: 10px">#}
{#                                        <img width="512" height="512" src="/static/img/body-target.png" id="xray-img--show-body" src="" alt=""#}
{#                                            srcset="" />#}
{#                                    </div>#}
{#                                    <div class="collapse" id="collapseExample">#}
{#                                        <div class="d-flex flex-wrap mt-3 pl-3 pr-3">#}
{#                                            {% for body in body_list %}#}
{#                                            <div class="form-group form-check col-lg-4 col-md-4 col-sm-3">#}
{#                                                <input type="checkbox" class="form-check-input"#}
{#                                                    name="checkbox__body-target" value="{{body._body_target_id}}"#}
{#                                                    id="check-{{body._body_target_id}}" />#}
{#                                                <label class="form-check-label"#}
{#                                                    for="check-{{body._body_target_id}}">{{body._body_target_name}}</label>#}
{#                                            </div>#}
{#                                            {% endfor %}#}
{#                                        </div>#}
{#                                        <div class="d-flex flex-wrap justify-content-end">#}
{#                                            <div class="xray-btn-upload mr-3">#}
{#                                                <label for="upload-body" onclick="" id="upload_button-body"#}
{#                                                    class="btn btn-info" style="width: 105px">Upload</label>#}
{#                                                <input id="upload-body" type="file" name="file" style="display: none"#}
{#                                                    accept="image/*" class="form-control"#}
{#                                                    onchange="handleUploadImgInAjaxBody()" />#}
{#                                            </div>#}
{#                                            <button type="button" class="btn btn-danger" id="btn__body-target--submit">#}
{#                                                Submit#}
{#                                            </button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="modal-footer mt-4">#}
{#                                    <button type="button" class="btn btn-secondary mr-3" data-dismiss="modal">#}
{#                                        Close#}
{#                                    </button>#}
{#                                    <p class="text-right">#}
{#                                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample"#}
{#                                            role="button" aria-expanded="false" aria-controls="collapseExample">#}
{#                                            Body target#}
{#                                        </a>#}
{#                                    </p>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"#}
{#                                aria-labelledby="v-pills-profile-tab">#}
{#                                <div class="modal-body">#}
{#                                    <div class="d-flex flex-wrap justify-content-center img-container"#}
{#                                        id="body-target--showed-ratio" style="border: 1px solid var(--para-link); border-radius: 10px">#}
{#                                        <img width="512" height="512" id="xray-img-ratio" src="/static/img/body-target.png" alt=""#}
{#                                            srcset="" />#}
{#                                    </div>#}
{##}
{#                                </div>#}
{#                                <div class="modal-footer mt-4">#}
{#                                    <button type="button" class="btn btn-secondary mr-3" id="btn__upload-ratio">#}
{#                                        Check#}
{#                                    </button>#}
{#                                        <div class="xray-btn-upload">#}
{#                                            <label for="upload-ratio" onclick="" id="upload_button-body"#}
{#                                                class="btn btn-info" style="width: 105px">Upload</label>#}
{#                                            <input id="upload-ratio" type="file" name="file" style="display: none"#}
{#                                                accept="image/*" class="form-control"#}
{#                                                onchange="handleUploadImgRatio('upload-ratio', 'xray-img-ratio')" />#}
{#                                        </div>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <div class="tab-pane fade" id="v-pills-contours" role="tabpanel" aria-labelledby="pills-contact-tab">#}
{#                                <div class="modal-body">#}
{#                                    <div class="d-flex flex-wrap justify-content-center img-container overflow-hidden"#}
{#                                        id="body-target--showed-contours" style="border: 1px solid var(--para-link); border-radius: 10px">#}
{#                                        <img width="" height="512" style="" id="xray-img-contours" src="/static/img/body-target.png" alt=""#}
{#                                            srcset="" />#}
{#                                    </div>#}
{##}
{#                                </div>#}
{#                                <div class="modal-footer mt-4">#}
{#                                    <button type="button" class="btn btn-secondary mr-3" id="btn__upload-contours">#}
{#                                        Check#}
{#                                    </button>#}
{#                                        <div class="xray-btn-upload" id="btn__upload-angle">#}
{#                                            <label for="upload-contours" onclick="" id="upload_button-body"#}
{#                                                class="btn btn-info" style="width: 105px">Upload</label>#}
{#                                            <input id="upload-contours" type="file" name="file" style="display: none"#}
{#                                                accept="image/*" class="form-control"#}
{#                                                onchange="handleUploadImgRatio('upload-contours', 'xray-img-contours')" />#}
{#                                        </div>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                                <!-- overlay -->#}
{#                <div id="overlay__show-body" class="overlay d-none">#}
{#                    <div class="loader-wrapper d-flex flex-wrap w-100 h-100 justify-content-center align-items-center">#}
{#                        <div class="w-100 text-center" style="height: 200px">#}
{#                            <div class="w-100 mb-4 d-flex flex-wrap justify-content-center">#}
{#                                <div class="loader col-lg-12 col-md-12 col-sm-12" style="width: 100px; height: 100px">#}
{#                                </div>#}
{#                            </div>#}
{#                            <div style="font-size: 25px"#}
{#                                class="font-weight-bold text-warning loading-text enter-loading col-lg-12 col-md-12 col-sm-12">#}
{#                                Đang thực hiện tính toán#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}