
{% include './include/header.html' %}
<body class="bg--outside {% if not register %} login-body {% endif %}  d-flex justify-content-center align-items-center m-auto">
    <form method="post" action="{% if register %}/log/register{% endif %}">
        <div class="container p-5">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="login col-lg-12 bg-white d-flex flex-wrap">
    
                    <div class="col-lg-6 m-auto">
                        <div class="login-bg pt-4 pb-4">
                            <img class="login-bg__img" src="{{ url_for('static', filename='img/login-left-bg_1.jpg') }}" alt="" srcset="">
                        </div>
                    </div>
        
                    <div class="col-lg-6 p-5">
                        <div class="login-form">
                            <div class="login-icon text-center">
                                <img style="width: 50px;" class="login-icon__img" src="{{ url_for('static', filename='img/medical-symbole-icon.png') }}" alt="" srcset="">
                                <!-- <img style="width: 30px;" class="login-icon__img" src="{{ url_for('static', filename='img/nurse_icon.png') }}" alt="" srcset=""> -->
                            </div>
                        </div>
    
                        <div class="login-form__heading mb-3 text-center">
                            {% if register %}
                                <h3 class="login-form__title">
                                    Create Account
                                </h3>
                                <small class="login-form__small">
                                    Register an account and we'll get you in
                                </small>
                            {% else %}
                                <h3 class="login-form__title">
                                    Welcome Back
                                </h3>
                                <small class="login-form__small">
                                    Log in to your account and we'll get you in
                                </small>
                            {% endif %}
                        </div>

                        {% if register %}
                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="pwd">Fullname</label>
                                <input class="form-control login-form__input" type="text" name="fullname" id="fullname" placeholder="Full name" required>
                            </div>

                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="pwd">Phone number</label>
                                <input class="form-control login-form__input" type="number" name="phone" id="phone" placeholder="Phone number" required>
                            </div>
                        {% endif %}

                        <div class="form-group login-form--info">
                            <label class="login-form__label" for="email">Email address</label>
                            <input class="form-control login-form__input" type="email" name="email" id="email" placeholder="Email address" required>
                        </div>
    
                        <div class="form-group login-form--info">
                            <label class="login-form__label" for="pwd">Password</label>
                            <input class="form-control login-form__input" type="password" name="pwd" id="pwd" placeholder="Password" required>
                        </div>

                        {% if register %}
                            <div class="form-group login-form--info">
                                <label class="login-form__label" for="date">Date of Birth</label>
                                <input class="form-control login-form__input" type="date" name="date" id="date" required>
                            </div>

                            <!-- <div class="form-group login-form--info">
                                <label class="login-form__label" for="pwd">Gender</label>
                                <input class="form-control login-form__input" type="checkbox" name="pwd" id="pwd" placeholder="Password">
                            </div> -->
                            
                            <div class="form-group text-right login-form--info">
                                <label class="login-form__label mr-auto mt-auto mb-auto" for="gender" style="float: left;">Gender</label> 
                                <!-- <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-primary mr-1">
                                      <input class="login-form__input" type="radio" name="male" id="male"> Male
                                    </label>
                                    
                                    <label class="btn btn-primary">
                                      <input class="login-form__input" type="radio" name="female" id="female"> Female
                                    </label>
                                </div> -->
                                <select class="form-control" name="gender" id="gender" required>
                                    <option value="none">--Choose gender--</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        {% endif %}

                        
                        {% if register %}
                            <div class="form-group text-right login-form--forgot">
                                <a class="login-form__link" href="">Term of Use?</a>
                            </div>
                        {% else %}
                            <div class="form-group text-right login-form--forgot">
                                <a class="login-form__link" href="">Forgot password?</a>
                            </div>
                        {% endif %}

                        {% if error %}
                        <div class="form-group login-form--error text-center alert alert-danger">
                            <p class="login-form__para mb-0 text-danger">
                                    {{error}}
                            </p>
                        </div>
                        {% endif %}

                        {% if result %}
                        <div class="form-group login-form--error text-center alert alert-info">
                            <p class="login-form__para mb-0 text-info">
                                    {{result}}
                            </p>
                        </div>
                        {% endif %}
                        
                        {% if register %}
                            <div class="form-group login-form--signin w-100">
                                <button class="w-100 btn btn-primary login-form__btn" type="submit">
                                    Register
                                </button>
                            </div>
                        {% else %}
                            <div class="form-group login-form--signin w-100">
                                <button class="w-100 btn btn-primary login-form__btn" type="submit">
                                    Sign in
                                </button>
                            </div>
                        {% endif %}

                        {% if register %}
                            <div class="form-group login-form--more">
                                <p class="login-form__para">
                                    Having an account?
                                    <a class="login-form__link" href="/log/login">
                                        Sign in
                                    </a>
                                </p>
                            </div>
                        {% else %}
                            <div class="form-group login-form--more">
                                <p class="login-form__para">
                                    Don't have an account?
                                    <a class="login-form__link" href="/log/register">
                                        Sign up
                                    </a>
                                </p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
